.container {
  display: flex;
  height: 100vh;
  background-color: rgb(86, 186, 245);
  justify-content: center;
  align-items: center;
}

.button {
  width: 200px;
  height: 40px;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 3px;
  border: none;
  margin-right: 3px;
  font-size: 16px;
}
.hide {
  display: none;
}
.card-container {
  display: flex;
  flex-direction: column;
}

.question-title {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
}

.question {
  text-align: center;
  margin-top: 10px;
}
